.table
    a
        &:hover
            color: $orange
#basket
    #show_basket
        width: 100%
        margin-top: 25px
        th
            background: #f5dcb3
            color: $brown
            padding: 11px 0px
            text-align: center
        td, tr
            border: 1px solid #f5dcb3
            text-align: center
            padding: 11px 0px
        tr:first-child
            border: none !important
            border-top: 1px solid transparent !important
        th:first-child
            +border-radius(10px 0 0 0)
        th:last-child
            +border-radius(0 10px 0 0)
    #result
        position: relative
        display: block
        height: 180px
        .table
            position: absolute
            right: -1px
            #summ
                background: #f5dcb3
                color: $brown
            #summ_disc
                background: #f5dcb3
                color: $brown
            #in_total
                background: $grass
                color: #fff
                td
                    font-weight: bold
            td, tr
                text-align: center
                padding: 10px 14px
            tr:first-child,
            tr:second-child
                background: #f5dcb3
            tr:third-child
                background: $grass
        #clear
            position: absolute
            right: 194px
            top: 150px
            color: $brown
            &:before
                position: absolute
                content: ""
                left: -43px
                top: -9px
                height: 38px
                width: 38px
                background: url("../img/clear.png")
        #submit
            position: absolute
            right: 41px
            top: 150px
            color: $brown
            &:after
                position: absolute
                content: ""
                right: -43px
                top: -9px
                height: 38px
                width: 38px
                background: url("../img/submit.png")
        