#catalog
    h2
        margin-top: 20px
    .box_white
        margin-top: -10px
        &:before
            content: ""
            position: absolute
            background: url("../img/bubls.png") no-repeat
            right: 0px
            top: -42px
            height: 55px
            width: 173px

.pagination
    width: 350px
    border-top: 1px dotted $brown
    border-bottom: 1px dotted $brown
    display: inline-block
    margin-top: 20px
    margin-bottom: 20px
    padding-top: 4px
    padding-bottom: 4px
    p
        float: left
        margin-right: 20px
        margin-left: 20px
        text-align: center
    a
        float: left
        +border-radius(50%)
        height: 19px
        width: 19px
        text-align: center
    .active
        a
            background: $grass