#categories
    .box_white
        padding-top: 25px
        padding-left: 25px
        padding-bottom: 25px
        margin-top: 14px
        +clearfix
    .ticket_large
        &:before
            background: url("../img/ticket_large.png") no-repeat
            content: ""
            width: 454px
            height: 47px
            position: relative
            left: 0px
            display: inline-block
    .category_description
        display: table
        p
            margin-top: 15px
            margin-left: 25px
            margin-right: 25px
        h4
            text-transform: uppercase
            position: absolute
            top: 40px
            left: 241px
        a
            margin-top: 15px
            display: inline-block
            margin-left: 25px
            &:after
                content: ""
                position: relative 
                background: url("../img/green_right.png") no-repeat
                height: 16px
                width: 16px
                left: 5px
                top: 3px
                display: inline-block
            &:hover
                color: $orange
                &:after
                    content: ""
                    position: relative 
                    background: url("../img/red_right.png") no-repeat
                    height: 16px
                    width: 16px
                    left: 5px
                    top: 3px
                    display: inline-block
    .dots
        margin-top: 25px
    text
        h4
            margin-top: 25px
        .text_img
            float: right

