body
    padding-bottom: 300px
    display: static !important
footer
    padding-left: 20px
    padding-right: 20px
    height: 150px
    width: 965px
    position: absolute
    bottom: 0
    left: 50%
    margin-left: -482px
    p
        margin-top: 24px
    span
        display: block
        margin-top: 15px
    div
        position: absolute
        right: 0
        top: 22px
        line-height: 18px
    ul
        float: left
        list-style: none
        margin-left: 24px