header
    .logo
        display: block
        height: 235px
        width: 235px
        border: 0 solid transparent
        margin-top: 19px
        margin-left: -10px
        float: left
    h1
        display: inline-block
        float: left
        line-height: 28px
        margin-left: 20px
        margin-top: 37px
        span
            letter-spacing: -1px
            margin-left: 37px
            margin-top: 39px
            display: block
            sup
                top: -0.05em
                font-size: 98%
    basket
        display: inline-block
        margin-left: 139px
        margin-top: 85px
        h3
            margin-bottom: 9px
        a
            margin-top: 37px
            display: block
            float: left
        button
            background: #fff url("../img/button_rarrow.png") no-repeat center
            height: 36px
            width: 36px
            +border-radius(50%)
            border: none
            cursor: pointer
            margin-top: 25px
            margin-left: 20px
    nav
        margin-top: 200px
        padding: 5px
        border-radius: 2px
        z-index: 999
        display: inline-table
        background: white
        +border-radius(6px)
        ul
            background: url("../img/bg_footer.jpg")
            +border-radius(6px)
            display: inline-block
            li
                float: left
                list-style: none
                text-transform: uppercase
                display: table-cell
                +border-radius(6px)
                text-align: center
                vertical-align: middle
                padding-bottom: 19px
                padding-top: 19px
                &:nth-child(1)
                    a
                        width: 139px
                &:nth-child(2)
                    a
                        width: 235px
                &:nth-child(3)
                    a
                        width: 158px
                &:nth-child(4)
                    a
                        width: 153px
                &:nth-child(5)
                    a
                        width: 135px
                &:nth-child(6)
                    a
                        width: 124px
                &:hover
                    background: #99cc33 //$grass
                    a
                        color: #fff
                        font-weight: bold
                        .nav_img
                            &:before
                                background: url("../img/img_nav_hover.png") no-repeat
                a
                    color: #724312
                    display: table-cell
                    text-decoration: none
                    .nav_img
                        &:before
                            content: ""
                            display: inline-block
                            position: relative
                            background: url("../img/img_nav.png") no-repeat
                            height: 10px
                            width: 10px
                            top: 0px
                            left: -3px
                    
