
.border
    background: #fae7c8
    +border-radius(6px)
    display: table
    padding: 8px
    float: left

.img_box
    background: #fff
    +border-radius(6px)
    display: table
    padding: 19px
#item_card
    .return_to_list
        margin-top: 10px
        margin-left: 19px
        display:block
        &:before
            background: url("../img/green_left.png") no-repeat
            content: ""
            position: relative
            top: 6px
            left: -7px
            height: 18px
            width: 18px
            display: inline-block
    .box_white
        padding-top: 25px
        padding-left: 25px
        padding-bottom: 25px
        margin-top: 14px
        +clearfix
        description
            float: right
            margin-right: 42px
            width: 367px
            .ticket
                background: url("../img/ticket.png") no-repeat
                height: 48px
                margin-left: 47px
                padding-left: 45px
                padding-top: 4px
                h3
                    width: 102px
            p
                float: left
                padding-top: 13px
            h2
                margin-bottom: 20px
            purchase
                display: block
                input
                    margin-left: 23px
                    padding: 1px 1px
                    width: 58px
                    text-align: right
                    vertical-align: middle
                    border: 1px solid #ffe5c8
                .plus, .minus
                    width: 20px
                    height: 17px
                    padding: 0
                    background: $bgnd
                    color: $brown
                    vertical-align: middle
                    border: 1px solid #ffe5c8
                .to_basket
                    +border-radius(50%)
                    border: 1px solid #fff
                    background: $grass url("../img/to_basket.png") no-repeat 50% 60%
                    vertical-align: middle
                    height: 43px
                    width: 43px
                    margin-left: 5px
                    &:hover
                        background: $orange url("../img/to_basket.png") no-repeat 50% 60%
        description_text
            float: left
            margin-top: 25px 
#proposal
    margin-top: 25px
    #proposal_box
        margin-top: 15px
#just_seen
    margin-top: 10px
    ul
        list-style: none
        margin-left: 25px
        li
            margin-top: 15px
            a
                &:before
                    background: url("../img/green_right.png") no-repeat
                    content: ""
                    position: relative
                    top: 6px
                    left: -7px
                    height: 18px
                    width: 18px
                    display: inline-block
                &:hover
                    color: $orange
                    &:before
                        background: url("../img/red_right.png") no-repeat
                        content: ""
                        position: relative
                        top: 6px
                        left: -7px
                        height: 18px
                        width: 18px
                        display: inline-block

