hello
    padding-bottom: 20px
    display: block
    h5
        margin-left: 15px
        margin-top: 15px
        margin-bottom: 10px
    a
        margin-left: 15px
    #user_name
        font-weight: bold
    .red_box
        color: #fff
        background: red
        width: 100%
        padding-bottom: 12px
        padding-top: 12px
        text-align: center
        +border-radius(5px)
        font-weight: bold
        margin-bottom: 10px
    #exit
        border-top: 1px dotted $brown
        border-bottom: 1px dotted $brown
        vertical-align: middle
        padding-bottom: 12px
        padding-top: 12px
        margin-top: 10px
        a
            display: inline-block
            vertical-align: middle
            margin-left: 123px
            &:hover
                color: $orange
        button
            display: inline-block
            vertical-align: middle
            margin-left: 15px


login
    display: block
    margin-top: 15px
    margin-bottom: 15px
    h3
        margin-top: 10px
        margin-left: 15px
        margin-bottom: 13px
    input
        margin-bottom: 6px
        margin-left: 22px
        width: 187px
    #remind
        margin-left: 36px
        margin-top: 13px
        display: inline-table
    #registration
        margin-left: 36px
    #enter
        margin-left: 14px
        margin-top: 16px
    button
        position: absolute
        margin-left: 5px
search
    +border-radius(5px)
    border: none
    background: $grass
    background-position: 178px 6px
    height: 59px
    width: 238px
    display: table-cell
    input
        width: 147px
        margin-top: 12px
        margin-left: 10px
        float: left
    a
        display: block
        margin-top: 10px
        margin-left: 184px
    .white_arrow
        height: 39px
        width: 39px
        &:before
            display: block
            content: ""
            position: relative
            top: -4px
            left: -4px
            background: url("../img/search_img.png") no-repeat
            height: 53px
            width: 57px
goods
    +border-radius(10px)
    border: none
    background: $grass
    display: table
    margin-top: 10px
    #goods
        +border-radius(10px)
        padding: 14px
        background: url("../img/bg_footer.jpg")
        border: 1px solid transparent
        margin: 6px
        li
            border-bottom: 1px dotted $brown
            margin-top: 6px
            margin-bottom: 5px
            padding-bottom: 5px
        .goods_menu
            &:before
                content: ""
                position: relative
                height: 10px
                width: 10px
                left: 0px
                top: 2px
                background: url("../img/goods.png") no-repeat
                display: inline-block
            a
                color: $brown
            ul
                display: none
                li
                    display: none
        .active
            &:before
                content: ""
                position: relative
                height: 10px
                width: 10px
                left: 0px
                top: 2px
                background: url("../img/goods_active.png") no-repeat
                display: inline-block
            a
                color: $green
            ul
                display: block
                li
                    border: none
                    margin-left: 15px
                    display: list-item
                    margin-bottom: 0
                    line-height: 0.79em
                    &:before
                        content: "-"
                        color: $gray_submenu
                        &:hover
                            color: $green
                    a
                        color: $gray_submenu
                        &:hover
                            color: $green
subscribe
    position: relative
    display: block
    margin-top: 30px
    button
        top: 9px
        position: absolute
        right: 9px
    #subscribe_img
        background: url("../img/subscribe_img.png") no-repeat
        height: 28px
    #subscribe_img_bottom
        background: url("../img/subscribe_img_bottom.jpg") no-repeat
        height: 234px
        margin-top: 10px

