.box_white
    +border-radius(6px)
    background: #fff
    width: auto
    display: block
    position: relative
#page_home
    h2
        margin-top: 48px
        margin-bottom: 15px
        margin-left: 24px
    discounts
        display: block
        &:before
            content: ""
            position: absolute
            background: url("../img/discounts.png") no-repeat
            right: 0px
            top: -59px
            height: 71px
            width: 231px
        
            
    news
        display: block
        +clearfix
        &:before
            content: ""
            position: absolute
            background: url("../img/news.png") no-repeat
            right: 0px
            top: -49px
            height: 76px
            width: 230px
        dl
            display: inline-table
            margin-left: 21px
            margin-top: 27px
            dt
                background: #fae7c8
                width: 81px
                height: 81px
                +border-radius(50%)
                display: inline-block
                vertical-align: middle
                h3
                    margin-top: 15px
                    margin-left: 10px
            dd
                display: inline-block
                vertical-align: middle
                margin-left: 18px
                max-width: 570px
        #other_news
            float: right
            margin-top: 20px
            margin-bottom: 25px
            margin-right: 34px
            a
                display: inline-block
                vertical-align: middle
            button
                display: inline-block
                vertical-align: middle
text
    display: block
    width: auto
    .left
        width: 340px
        float: left
    .right
        width: 340px
        float: right
.product_card
    display: inline-table
    width: 199px
    background: #fae7c8
    margin: 15px 0px 15px 26px
    height: 313px
    +border-radius(10px)
    purchase
        input
            width: 30px
    .product_img
        +border-radius(6px)
        background: #fff
        border: none
        margin: 10px
        height: 139px
        img
            margin: 20px 0px 0px 25px
    .discount_ticket
        background: url("../img/ticket.png") no-repeat
        height: 48px
        margin-top: 7px
        margin-left: 23px
        padding-left: 45px
        padding-top: 4px
        h3
            width: 102px
    purchase
        display: block
        input
            margin-left: 23px
            padding: 1px 1px
            width: 58px
            text-align: right
            vertical-align: middle
        .plus, .minus
            width: 20px
            height: 17px
            padding: 0
            background: $bgnd
            color: $brown
            vertical-align: middle
        .to_basket
            +border-radius(50%)
            border: 1px solid #fff
            background: $grass url("../img/to_basket.png") no-repeat 50% 60%
            vertical-align: middle
            height: 43px
            width: 43px
            &:hover
                background: $orange url("../img/to_basket.png") no-repeat 50% 60%
    a
        text-align: center
        display: table
