.important
    position: relative
    &:after
        content: ""
        position: absolute
        right: -13px
        top: 0px
        background: url("../img/important.png")
        height: 10px
        width: 10px
        display: inline-block
#registration
    h2
        margin-top: 40px
    .box_white
        padding-left: 40px
        padding-right: 40px
        padding-top: 20px
        padding-bottom: 40px
        margin-top: 25px
        &:before
            content: ""
            position: absolute
            background: url("../img/registration.png") no-repeat
            right: 0px
            top: -65px
            height: 76px
            width: 226px
        h2
            margin-bottom: 20px
            margin-top: 25px
        label
            margin-bottom: -8px
            margin-right: 25px
            height: 45px
            display: inline-block
            position: relative
            .min
                width: 49px
            .s_big
                width: 165px
            .other
                width: 123px
            input, select
                width: 195px
                padding: 1px 5px 1px 15px
            span
                width: 93px
                display: inline-block
                color: #646464
                line-height: 1em
                vertical-align: middle
        .gross
            line-height: 36px
    #continue
        display: inline-block
        position: relative
        margin-left: 75px
        vertical-align: middle
        &:hover
            color: $orange
        button
            height: 60px
            width: 60px
            +border-radius(50%)
            border: none
            background: $grass url("../img/continue_arr.png") no-repeat 50% 50%
            display: inline-block
            vertical-align: middle
            margin-left: 15px
            &:hover
                background: $orange url("../img/continue_arr.png") no-repeat 50% 50%
    p
        margin-left: 25px
        margin-top: 25px

.bottom_dots
    border-bottom: 1px dotted $brown
    padding-bottom: 15px
    margin-bottom: 15px

#info_confirm
    position: relative
    display: inline-block
    margin-left: 35px
    line-height: 33px
.active
    &:before
        content: ""
        position: absolute
        left: 0px
        top: 0px
        background: url("../img/agree.png") no-repeat
        height: 33px
        width: 33px
        display: inline-block
.agree
    background: url("../img/not_agree.png") no-repeat
    height: 33px
    width: 500px
    display: inline-block
    position: relative
    margin-left: 20px
