// libs
@import compass/reset.scss
@import bootstrap
@import compass
@import compass/layout.scss
//
header, footer
    display: block
.left_col
    margin-left: 2px
    width: 238px
    display: inline-block
article
    width: 699px
    margin-left: 20px
    display: inline-block
    vertical-align: top
html
    background: url("../img/header.jpg") no-repeat center top, url("../img/bg_header.jpg") top repeat-x, url("../img/footer.jpg") bottom no-repeat, url("../img/bg_footer.jpg") bottom repeat-x, #fffaeb
    min-height: 100%
    position: relative
//fonts
$arial: Arial,  Geneva,  Helvetica, sans-serif
$georgia: Georgia, "Times New Roman", Times, serif
// colors
$green: #006633
$grass: #99cc33
$brown: #724312
$bgnd: #fffaeb
$gray: #6d6e6e
$gray_submenu: #696969
$gray_dark: #666666
$orange: #ff6600
$placeholderText: #666
// tipographica
p
    font-family: $arial
h1
    font-family: $georgia
    font-size: 30px
    font-weight: normal
h2
    font-family: $georgia
    font-size: 24px
    font-weight: normal
    color: $green
h3
    font-family: $georgia
    font-size: 24px
    font-weight: normal
    color: $brown
h4
    font-family: $arial
    font-size: 18px
    font-weight: normal
h5
    font-family: $arial
    font-size: 24px
.bigger
    font-size: 1.33em
.medium
    font-size: 16px
    font-family: $arial
.normal, input
    font-size: 14px
    font-family: $arial
.small
    font-size: 13px
    font-family: $arial
.little
    font-size: 12px
    font-family: $arial
green, .green, a
    color: $green
brown, .brown
    color: $brown
gray, .gray, p
    color: $gray
gray_dark, .gray_dark
    color: $gray_dark
orange, .orange
    color: $orange
white, .white
    color: white
black, .black
    color: black
// global
.container
    width: 965px
+placeholder($color: $gray-dark)
input, .input, .select_wrapper
    +border-radius(4px)
    border: none
    color: $gray-dark
    +box-shadow(#eacc9c -1px 2px 7px)
    padding: 5px 5px 5px 15px
.select_wrapper
    padding: 0
    display: inline-block
    height: 20px
    overflow: hidden
    width: 215px
    margin-left: -3px
    margin-right: -3px
    position: relative
    &:before
        display: block
        content: ""
        position: absolute
        right: 10px
        top: 2px
        // background: url("../img/green_bottom.png") no-repeat
        height: 17px
        width: 17px
    // &.active:before
    //     background: url("../img/green_top.png") no-repeat
select
    background: url("../img/section.png") no-repeat 193px 0px
    vertical-align: top
    margin: 0
    border: 0 transparent solid !important
    +box-shadow(none !important)
    width: 238px !important
    display: inline-block
.white_arrow
    +border-radius(50%)
    background: $grass url("../img/white_arrow.png") no-repeat center
    height: 36px
    width: 36px
    border: none
    &:hover
        background: $orange url("../img/white_arrow.png") no-repeat center
.dots
    display: block
    background: $bgnd
    z-index: 1000
    position: relative
    overflow: hidden
    &:after
        content: ""
        background: url("../img/double_dott.png") repeat-x
        bottom: 0
        height: 1px
        width: 100%
        position: absolute
        display: inline-block
        z-index: 999
        margin-left: 15px
.black_arrow
    margin-left: 22px
    &:before
        background: url("../img/black_arrow.png") no-repeat
        content: ""
        position: relative
        top: 0px
        left: -7px
        height: 10px
        width: 7px
        display: inline-block
.site_tree
    border-bottom: 1px dotted $brown
    padding-bottom: 10px
    margin-bottom: 19px
    margin-top: 25px
    a
        display: inline-block
        color: #535454
        &:hover
            color: #ff7212
.hide
    display: none
// partials
@import header
@import left_col
@import goods
@import footer
@import main_page
@import item_card
@import catalog
@import categories
@import basket
@import registration