<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title><%= @title %></title>
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <a class="logo" href="#"></a>
                <h1>
                    <green class="bigger">Всё</green>
                    <white>для создания</white>
                    <br/>
                    <brown>эксклюзивного мыла</brown>
                    <br/>
                    <white>и</white>
                    <green>натуральной косметики</green>
                    <br/>
                    <span class="bigger"><sup>8</sup> (499) 172 5<sup>6 8</sup>1</span>
                </h1>
                
                <basket>
                    <h3>Моя корзина</h3>
                    <p class="medium brown">Товаров:<span class="orange">12</span></p>
                    <p class="medium brown">На сумму:<span class="orange">123 456р.</span></p>
                    <a class="small" href="#">Мои покупки</a>
                    <button></button>
                </basket>
                <nav>
                    <ul>
                        <li><a href="#"><span class="nav_img"></span>Главная</a></li>
                        <li><a href="#"><span class="nav_img"></span>Как сделать мыло?</a></li>
                        <li><a href="#"><span class="nav_img"></span>Контакты</a></li>
                        <li><a href="#"><span class="nav_img"></span>Доставка</a></li>
                        <li><a href="#"><span class="nav_img"></span>Оплата</a></li>
                        <li><a href="#"><span class="nav_img"></span>Оптом</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="left_col">
                <% if @login %>
                    <hello>
                        <h5 class="brown">Здраствуйте,</h5>
                        <a id="user_name" class="medium" href="#">Имя пользователя</a>
                        <h5 class="brown">Ваша скидка:</h5>
                        <div class="red_box"><span class="medium">указание скидки</span></div>
                        <a class="small brown" href="#">Контактная информация</a><br/>
                        <a class="small brown" href="#">Мои заказы</a><br/>
                        <a class="small brown" href="#">Сменить пароль</a>
                        <div id="exit"><a href="#">Выход</a><button class="white_arrow"></button></div>
                    </hello>
                <% else %>
                    <login>
                        <form>
                            <h3 class="brown">Вход на сайт</h3>
                            <input placeholder="e-mail"></input>
                            <input placeholder="пароль"></input><br/>
                            <a id="remind" class="small gray_dark" href="#">Забыли пароль?</a>
                            <a id="enter" class="small" href="#">Вход</a><button class="white_arrow"></button><br/>
                            <a id="registration" class="small gray_dark" href="#">Регистрация</a>
                            
                        </form>
                    </login>
                <% end %>
                <search>
                    <input placeholder="поиск по сайту"></input>
                    <a class="white_arrow" href="#"></a>
                </search>
                <goods>
                    <ul id="goods">
                        <li class="goods_menu">
                            <a href="">Ароматы</a>
                        </li>
                        <li class="goods_menu">
                            <a href="">Базовые масла</a>
                        </li>
                        <li class="goods_menu">
                            <a href="">Баттеры(твердые масла)</a>
                        </li>
                        <li class="goods_menu">
                            <a href="">Бомбочки для ванной</a>
                        </li>
                        <li class="goods_menu">
                            <a href="">Гидропаты(цветочные воды)</a>
                        </li>
                        <li class="goods_menu">
                            <a href="">Компоненты для массажных плиток</a>
                        </li>
                        <li class="goods_menu active">
                            <a href="#">Красители</a>
                            <ul>
                                <li>
                                    <a class="small" href="">Красители пищевые водорастворимые</a>
                                </li>
                                <li>
                                    <a class="small" href="">Красители пищевые гелевые</a>
                                </li>
                            </ul>
                        </li>
                        <li class="goods_menu active">
                            <a href="">Мыльная основа, основа для шампуня/бальзама</a>
                            <ul>
                                <li>
                                    <a class="small" href="">Россия</a>
                                </li>
                                <li>
                                    <a class="small" href="">Англия</a>
                                </li>
                            </ul>
                        </li>
                        <li class="goods_menu active">
                            <a href="">Пигменты/ Глиттеры/ Перламутры</a>
                            <ul>
                                <li>
                                    <a class="small" href="">Глиттеры/блестки</a>
                                </li>
                                <li>
                                    <a class="small" href="">Пигменты</a>
                                </li>
                                <li>
                                    <a class="small" href="">Перламутры</a>
                                </li>
                            </ul>
                        </li>
                        <li class="goods_menu">
                            <a href="">Подарочная упаковка</a>
                        </li>
                        <li class="goods_menu">
                            <a href="">Полезные дополнения</a>
                        </li>
                        <li class="goods_menu active">
                            <a href="">Формы для мыловарения</a>
                            <ul>
                                <li>
                                    <a class="small" href="">Формочки 2D и 3D</a>
                                </li>
                                <li>
                                    <a class="small" href="">Формы пластик</a>
                                </li>
                                <li>
                                    <a class="small" href="">Формы силиконовые</a>
                                </li>
                            </ul>
                        </li>
                        <li class="goods_menu">
                            <a href="">Эфирные масла</a>
                        </li>
                    </ul>
                </goods>
                <subscribe>
                    <div id="subscribe_img"></div><button class="white_arrow"></button>
                    <h4 class="green"> на МАСТЕР-КЛАСС</h4>
                    <div id="subscribe_img_bottom"></div>
                </subscribe>
            </div>
            <article id="<%= @id %>">
                <%= yield %>
            </article>
        </div>
        <footer>
            <p class="medium black">
                Мылодел
                <br/>
                т.: 8 (499) 172 56 81
            </p>
            <span class="brown">2012 все права защищены</span>
            <div>
                <ul>
                    <li><a href="#">Ароматы</a></li>
                    <li><a href="#">Базовые масла</a></li>
                    <li><a href="#">Баттеры (твердые масла)</a></li>
                    <li><a href="#">Бомбочки для ванной</a></li>
                    <li><a href="#">Гидролаты (цветочные воды)</a></li>
                </ul>
                <ul>
                    <li><a href="#">Компоненты для массажных плиток</a></li>
                    <li><a href="#">Красители</a></li>
                    <li><a href="#">Мыльная основа, основа для шампуня/бальзама</a></li>
                    <li><a href="#">Пигменты/ глиттеры/перламутры</a></li>
                    <li><a href="#">Подарочная упаковка</a></li>
                </ul>
                <ul>
                    <li><a href="#">Полезные дополнения</a></li>
                    <li><a href="#">Формы для мыловарения</a></li>
                    <li><a href="#">Эфирные масла</a></li>
                    <li></li>
                    <li><a href="#">Написать письмо</a></li>
                </ul>
            </div>
        </footer>
    </body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/jquery.site.js"></script>
    <!--[if IE]>
        <script src="/html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</html>