<% @id = "basket" %>
<% @title = "Корзина" %>
<div class="site_tree">
    <a href="#">Гланая</a>
    <a class="black_arrow" href="#">Раздел</a>
    <a class="black_arrow" href="#">Подраздел</a>
</div>
<h2 class="green">Моя корзина</h2>
<table id="show_basket" class="table">
    <tr>
        <th style="width: 46px;">№</th>
        <th style="width: 328px;">Наименование товара</th>
        <th style="width: 108px;">Количество</th>
        <th style="width: 98px;">Цена</th>
        <th style="width: 118px;">На сумму</th>
    </tr>
    <tr>
        <td>1</td>
        <td><a href="#">Наименование товара</a></td>
        <td>Количество</td>
        <td>Цена</td>
        <td>На сумму</td>
    </tr>
    <!-- <tr id="change_calculations">
        <td style="border: none;"></td>
        <td style="border: none;"></td>
        <td><a href="#">Изменить</a></td>
        <td></td>
        <td><a href="#">Удалить</a></td>
    </tr> -->
</table>
<div id="result">
    <table class="table">
        <tr id="summ">
            <td style="border-bottom: 1px solid #fff;border-right: 1px solid #fff;width: 180px;">Сумма без скидки</td>
            <td style="border-bottom: 1px solid #fff; width: 91px;">12500 р.</td>
        </tr>
        <tr id="summ_disc">
            <td style="border-right: 1px solid #fff;">Ваша скидка</td>
            <td>500 р.</td>
        </tr>
        <tr id="in_total">
            <td style="border-right: 1px solid #fff;">Итого к оплате</td>
            <td>12000 р.</td>
        </tr>
    </table>
        <a id="clear" href="#">Очистить корзину</a>
        <a id="submit" href="#">Оформить заказ</a>
    
</div>
<div id="just_seen">
    <h2 class="green dots">Недавно просмотренные товары</h2>
    <ul>
        <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
        <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
        <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
        <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
    </ul>
</div>
<div id="proposal">
    <h2 class="green dots">С этим товаром покупают</h2>
    <div id="proposal_box">
        <div class="product_card">
            <div class="product_img"><img src="img/goods_img.png"/></div>
            <a class="description_link brown" href="#">Наименование товара или название</a>
            <div class="discount_ticket">
                <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
            </div>
            <purchase>
                <form>
                    <input class="quantity" placeholder="23"></input>
                    <button class="minus input">-</button>
                    <button class="plus input">+</button>
                    <button class="to_basket"></button>
                </form>
            </purchase>
        </div>
        <div class="product_card">
            <div class="product_img"><img src="img/goods_img.png"/></div>
            <a class="description_link brown" href="#">Наименование товара или название</a>
            <div class="discount_ticket">
                <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
            </div>
            <purchase>
                <form>
                    <input class="quantity" placeholder="23"></input>
                    <button class="minus input">-</button>
                    <button class="plus input">+</button>
                    <button class="to_basket"></button>
                </form>
            </purchase>
        </div>
        <div class="product_card">
            <div class="product_img"><img src="img/goods_img.png"/></div>
            <a class="description_link brown" href="#">Наименование товара или название</a>
            <div class="discount_ticket">
                <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
            </div>
            <purchase>
                <form>
                    <input class="quantity" placeholder="23"></input>
                    <button class="minus input">-</button>
                    <button class="plus input">+</button>
                    <button class="to_basket"></button>
                </form>
            </purchase>
        </div>
    </div>
</div>