<% @id = "catalog" %>
<% @title = "Каталог" %>
<div class="site_tree">
    <a href="#">Гланая</a>
    <a class="black_arrow" href="#">Раздел</a>
    <a class="black_arrow" href="#">Подраздел</a>
</div>
<h2 class="green">Название раздела каталога</h2>
<div class="pagination">
    <p class="normal">страница</p>
    <ul>
        <li><a href="#"><<</a></li>
        <li><a href="#"><</a></li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">></a></li>
        <li><a href="#">>></a></li>
    </ul>
</div>
<div class="box_white">
    <div class="product_card">
        <div class="product_img"><img src="img/goods_img.png"/></div>
        <a class="description_link brown" href="#">Наименование товара или название</a>
        <div class="discount_ticket">
            <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
        </div>
        <purchase>
            <form>
                <input class="quantity" placeholder="23"></input>
                <button class="minus input">-</button>
                <button class="plus input">+</button>
                <button class="to_basket"></button>
            </form>
        </purchase>
    </div>
    <div class="product_card">
        <div class="product_img"><img src="img/goods_img.png"/></div>
        <a class="description_link brown" href="#">Наименование товара или название</a>
        <div class="discount_ticket">
            <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
        </div>
        <purchase>
            <form>
                <input class="quantity" placeholder="23"></input>
                <button class="minus input">-</button>
                <button class="plus input">+</button>
                <button class="to_basket"></button>
            </form>
        </purchase>
    </div>
    <div class="product_card">
        <div class="product_img"><img src="img/goods_img.png"/></div>
        <a class="description_link brown" href="#">Наименование товара или название</a>
        <div class="discount_ticket">
            <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
        </div>
        <purchase>
            <form>
                <input class="quantity" placeholder="23"></input>
                <button class="minus input">-</button>
                <button class="plus input">+</button>
                <button class="to_basket"></button>
            </form>
        </purchase>
    </div>
    <div class="product_card">
        <div class="product_img"><img src="img/goods_img.png"/></div>
        <a class="description_link brown" href="#">Наименование товара или название</a>
        <div class="discount_ticket">
            <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
        </div>
        <purchase>
            <form>
                <input class="quantity" placeholder="23"></input>
                <button class="minus input">-</button>
                <button class="plus input">+</button>
                <button class="to_basket"></button>
            </form>
        </purchase>
    </div>

</div>
<div class="pagination">
    <p class="normal">страница</p>
    <ul>
        <li><a href="#"><<</a></li>
        <li><a href="#"><</a></li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">></a></li>
        <li><a href="#">>></a></li>
    </ul>
</div>