<% @id = "categories" %>
<% @title = "Категории" %>
<div class="site_tree">
    <a href="#">Гланая</a>
    <a class="black_arrow" href="#">Раздел</a>
    <a class="black_arrow" href="#">Подраздел</a>
</div>
<h2 class="green">Название раздела сайта</h2>
<div class="box_white">
    <div class="border">
        <div class="img_box">
            <img src="img/goods_img.png"/>
        </div>
    </div>
    <div class="category_description">
        <div class="ticket_large"><h4 class="brown">название подраздела сайта</h4></div>
        <p class="small">Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. </p>
        <a href="#">Далее</a>
    </div>
</div>
<div class="box_white">
    <div class="border">
        <div class="img_box">
            <img src="img/goods_img.png"/>
        </div>
    </div>
    <div class="category_description">
        <div class="ticket_large"><h4 class="brown">название подраздела сайта</h4></div>
        <p class="small">Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. </p>
        <a href="#">Далее</a>
    </div>
</div>
<div class="box_white">
    <div class="border">
        <div class="img_box">
            <img src="img/goods_img.png"/>
        </div>
    </div>
    <div class="category_description">
        <div class="ticket_large"><h4 class="brown">название подраздела сайта</h4></div>
        <p class="small">Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. </p>
        <a href="#">Далее</a>
    </div>
</div>
<div class="box_white">
    <div class="border">
        <div class="img_box">
            <img src="img/goods_img.png"/>
        </div>
    </div>
    <div class="category_description">
        <div class="ticket_large"><h4 class="brown">название подраздела сайта</h4></div>
        <p class="small">Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. Здесь описание содержания раздела. </p>
        <a href="#">Далее</a>
    </div>
</div>
<h2 class="green dots">Полезная информация по теме</h2>
<text>
    <div class="left">
        <h4 class="green">Мылодел - это не просто магазин,</h4>
        <p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
        <p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
        <p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
    </div>
    <div class="right">
        <h4 class="green">Мылодел - это не просто магазин,</h4>
        <p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
        
        <h4 class="green"><div class="text_img"><img src="img/1.png"></div>Мылодел - это не просто магазин,</h4>
        <p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
    </div>
</text>