<% @id = "page_empty" %>
<% @title = "Вы на пустой странице" %>
<h2 class="green">Скидки недели</h2>
<div class="box_white">
	<discounts >
		<div class="product_card">
			<div class="product_img"><img src="img/goods_img.png"/></div>
			<a class="description_link brown" href="#">Наименование товара или название</a>
			<div class="discount_ticket">
				<h3 class="brown discount_price">35<sup>00 р.</sup></h3>
			</div>
			<purchase>
				<form>
					<input class="quantity" placeholder="23"></input>
					<button class="minus input">-</button>
					<button class="plus input">+</button>
					<button class="to_basket"></button>
				</form>
			</purchase>
		</div>
	</discounts>
</div>