<% @id = "page_home" %>
<% @title = "Вы на главной" %>
<% @login = true %>
<h2 class="green">Скидки недели</h2>
<div class="box_white">
	<discounts >
		<div class="product_card">
			<div class="product_img"><img src="img/goods_img.png"/></div>
			<a class="description_link brown" href="#">Наименование товара или название</a>
			<div class="discount_ticket">
				<h3 class="brown discount_price">35<sup>00 р.</sup></h3>
			</div>
			<purchase>
				<form>
					<input class="quantity" placeholder="23"></input>
					<button class="minus input">-</button>
					<button class="plus input">+</button>
					<button class="to_basket"></button>
				</form>
			</purchase>
		</div>
		<div class="product_card">
			<div class="product_img"><img src="img/goods_img.png"/></div>
			<a class="description_link brown" href="#">Наименование товара или название</a>
			<div class="discount_ticket">
				<h3 class="brown discount_price">35<sup>00 р.</sup></h3>
			</div>
			<purchase>
				<form>
					<input class="quantity" placeholder="23"></input>
					<button class="minus input">-</button>
					<button class="plus input">+</button>
					<button class="to_basket"></button>
				</form>
			</purchase>
		</div>
		<div class="product_card">
			<div class="product_img"><img src="img/goods_img.png"/></div>
			<a class="description_link brown" href="#">Наименование товара или название</a>
			<div class="discount_ticket">
				<h3 class="brown discount_price">35<sup>00 р.</sup></h3>
			</div>
			<purchase>
				<form>
					<input class="quantity" placeholder="23"></input>
					<button class="minus input">-</button>
					<button class="plus input">+</button>
					<button class="to_basket"></button>
				</form>
			</purchase>
		</div>
	</discounts>
</div>
<h2 class="green">Новости</h2>
<div class="box_white">
	<news >
		<dl>
			<dt><h3 class="brown"><sup>22.0</sup>5 <sup>2012</sup></h3></dt>
			<dd>
				<h5><a class="orange" href="#">В продажу поступили пигментные пасты!!!</a></h5>
				<p class="normal">Дорогие мыловары.<br/><span class="green">по цене 100 р.</span></p>
			</dd>
		</dl>
		<dl>
			<dt><h3 class="brown"><sup>22.0</sup>5 <sup>2012</sup></h3></dt>
			<dd>
				<h5><a class="orange" href="#">В продажу поступили пигментные пасты!!!</a></h5>
				<p class="normal">Дорогие мыловары. В продажу поступили пигментные пасты!!! Мажутся отлично и на вкусЪ ничотак!!!<br/><span class="green">по цене 100 р.</span></p>
			</dd>
		</dl>
		<div id="other_news">
			<a href="#">Другие новости</a>
			<button class="white_arrow"></button>
		</div>
	</news>
</div>
<h2>Все ингредиенты для мыловарения</h2>
<div>
	<img src="img/1.png"/>
	<img src="img/2.png"/>
	<img src="img/3.png"/>
	<img src="img/4.png"/>
</div>
<text>
	<div class="left">
		<h4 class="green">Мылодел - это не просто магазин,</h4>
		<p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
	</div>
	<div class="right">
		<h4 class="green">Мылодел - это не просто магазин,</h4>
		<p class="small">где вы можете купить все для мвловарения. Благодяря нашим советам вы сможете стать прекрасным мыловаром, перенять опыт наших мастеров, сделать свое мыло уникальным.<span class="small brown">Ингредиенты для мыловарения - это первая ступень к творчеству и невероятно увлекательное занятия не только для взрослых, но и для детей.</span></p>
	</div>
</text>