<% @id = "item_card" %>
<% @title = "Карточка товара" %>
<div class="site_tree">
    <a href="#">Гланая</a>
    <a class="black_arrow" href="#">Раздел</a>
    <a class="black_arrow" href="#">Подраздел</a>
</div>
<card>
    <a class="return_to_list" href="#">Вернуться к списку товаров</a>
    <div class="box_white">
        <div class="border">
            <div class="img_box">
                <img src="img/googs_img_big.png"/>
            </div>
        </div>
        <description>
            <h2 class="green">Название товара</h2>
            <p class="medium">Цена</p>
            <div class="ticket"><h3>35<sup>00 р.</sup></h3></div>
            <p class="medium">Количество</p>
            <purchase>
                <form>
                    <input class="quantity" placeholder="23"></input>
                    <button class="minus input">-</button>
                    <button class="plus input">+</button>
                    <button class="to_basket"></button>
                </form>
            </purchase>
        </description>
        <description_text>
            <p class="medium brown">Характеристики товара, описание материала, производитель, вес или размеры.... </p>
            <p class="small">Здесь описание товара.</p>
        </description_text>
    </div>
    <div id="just_seen">
        <h2 class="green dots">Недавно просмотренные товары</h2>
        <ul>
            <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
            <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
            <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
            <li><a class="brown" href="#">Недавно просмотренный товар</a></li>
        </ul>
    </div>
    <div id="proposal">
        <h2 class="green dots">С этим товаром покупают</h2>
        <div id="proposal_box">
            <div class="product_card">
                <div class="product_img"><img src="img/goods_img.png"/></div>
                <a class="description_link brown" href="#">Наименование товара или название</a>
                <div class="discount_ticket">
                    <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
                </div>
                <purchase>
                    <form>
                        <input class="quantity" placeholder="23"></input>
                        <button class="minus input">-</button>
                        <button class="plus input">+</button>
                        <button class="to_basket"></button>
                    </form>
                </purchase>
            </div>
            <div class="product_card">
                <div class="product_img"><img src="img/goods_img.png"/></div>
                <a class="description_link brown" href="#">Наименование товара или название</a>
                <div class="discount_ticket">
                    <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
                </div>
                <purchase>
                    <form>
                        <input class="quantity" placeholder="23"></input>
                        <button class="minus input">-</button>
                        <button class="plus input">+</button>
                        <button class="to_basket"></button>
                    </form>
                </purchase>
            </div>
            <div class="product_card">
                <div class="product_img"><img src="img/goods_img.png"/></div>
                <a class="description_link brown" href="#">Наименование товара или название</a>
                <div class="discount_ticket">
                    <h3 class="brown discount_price">35<sup>00 р.</sup></h3>
                </div>
                <purchase>
                    <form>
                        <input class="quantity" placeholder="23"></input>
                        <button class="minus input">-</button>
                        <button class="plus input">+</button>
                        <button class="to_basket"></button>
                    </form>
                </purchase>
            </div>
        </div>
    </div>
</card>