<% @id = "registration" %>
<% @title = "Регистрация" %>
<div class="site_tree">
    <a href="#">Гланая</a>
    <a class="black_arrow" href="#">Раздел</a>
    <a class="black_arrow" href="#">Подраздел</a>
</div>
<h2 class="green">Регистрация</h2>
<form>
<div class="box_white">
    <div id="reg">
        <div class="bottom_dots"><span class="orange">Уважаемые посетители сайта, только зарегестрированные пользователи смогут накапливать скидки на продукцию</span>
        </div>
        <div class="bottom_dots">
            <h2 class="brown">Ваши персональные данные</h2>
            <label class="important gross"><span class="normal">Имя</span><input></input></label><br/>
            <label class="important gross"><span class="normal">Фамилия</span><input></input></label><br/>
            <label class="important gross"><span class="normal">Ваш e-mail</span><input></input></label><br/>
        </div>
        <div class="bottom_dots">
            <h2 class="brown">Ваш адрес</h2>
                <label class="important gross"><span class="normal">Улица</span><input></input></label><span class="normal">Например: Ул.Ленина<span><br/>
                <label class="important gross"><span class="normal">Дом</span><input class="min"></input></label>
                <label class="gross"><span class="normal min">Корпус</span><input class="min"></input></label><br/>
                <label class="important gross"><span class="normal">Квартира</span><input class="min"></input></label>
                <label class="gross"><span class="normal min">Этаж</span><input class="min"></input></label><br/>
                <label class="gross"><span class="normal">Подъезд</span><input class="min"></input></label><br/>
                <label class="important gross"><span class="normal">Город</span><input></input></label><br/>
                <label class="important gross"><span class="normal">Регион</span><input></input></label><br/>
                <div class="clearfix"></div>
        </div>
        <div class="bottom_dots">
            <h2 class="brown">Ваша контактная информация</h2>
                <label class="important"><span class="normal">Телефон</span><input></input></label><span class="normal">Например: +7 9221233454<span><br/><br/>
                <label><span class="normal">Почтовый индекс</span><input></input></label><span class="normal">Например: 610000<span><br/>
        </div>
        <div>
            <h2 class="brown">Укажите свой пароль</h2>
                <label class="important gross"><span class="normal s_big">Введите пароль</span><input class="other"></input></label>
                <a id="continue" class="medium bigger" href="#">Продолжить<button></button></a><br/>
                <label class="important gross"><span class="normal s_big">Подтвердите пароль</span><input class="other"></input></label><br/>
        </div> 
    </div>
</div>
<div class="bottom_dots">
    <p class="small"><span class="important">Поля, выделенные знаком</span>&nbsp;&nbsp;&nbsp; - обязательные для заполнения.</p>
    <p class="small">Убедитесь в правильности, указываемой Вами информации</p>
</div>
<div class="agree"><a id="info_confirm" href="#">Я хочу получать информацию об акциях и новости на свой e-mail</a></div>
</form>