html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before, .row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  margin-left: 20px;
}

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 952px;
}

.span1 {
  width: 61px;
}

.span2 {
  width: 142px;
}

.span3 {
  width: 223px;
}

.span4 {
  width: 304px;
}

.span5 {
  width: 385px;
}

.span6 {
  width: 466px;
}

.span7 {
  width: 547px;
}

.span8 {
  width: 628px;
}

.span9 {
  width: 709px;
}

.span10 {
  width: 790px;
}

.span11 {
  width: 871px;
}

.span12 {
  width: 952px;
}

.offset1 {
  margin-left: 101px;
}

.offset2 {
  margin-left: 182px;
}

.offset3 {
  margin-left: 263px;
}

.offset4 {
  margin-left: 344px;
}

.offset5 {
  margin-left: 425px;
}

.offset6 {
  margin-left: 506px;
}

.offset7 {
  margin-left: 587px;
}

.offset8 {
  margin-left: 668px;
}

.offset9 {
  margin-left: 749px;
}

.offset10 {
  margin-left: 830px;
}

.offset11 {
  margin-left: 911px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before, .row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.128%;
  *margin-left: 2.075%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span1 {
  width: 6.383%;
  *width: 6.33%;
}
.row-fluid .span2 {
  width: 14.894%;
  *width: 14.841%;
}
.row-fluid .span3 {
  width: 23.404%;
  *width: 23.352%;
}
.row-fluid .span4 {
  width: 31.915%;
  *width: 31.862%;
}
.row-fluid .span5 {
  width: 40.426%;
  *width: 40.373%;
}
.row-fluid .span6 {
  width: 48.936%;
  *width: 48.884%;
}
.row-fluid .span7 {
  width: 57.447%;
  *width: 57.394%;
}
.row-fluid .span8 {
  width: 65.957%;
  *width: 65.905%;
}
.row-fluid .span9 {
  width: 74.468%;
  *width: 74.416%;
}
.row-fluid .span10 {
  width: 82.979%;
  *width: 82.926%;
}
.row-fluid .span11 {
  width: 91.489%;
  *width: 91.437%;
}
.row-fluid .span12 {
  width: 100.0%;
  *width: 99.947%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before, .container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}

header, footer {
  display: block;
}

.left_col {
  margin-left: 2px;
  width: 238px;
  display: inline-block;
}

article {
  width: 699px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}

html {
  background: url("../img/header.jpg") no-repeat center top, url("../img/bg_header.jpg") top repeat-x, url("../img/footer.jpg") bottom no-repeat, url("../img/bg_footer.jpg") bottom repeat-x, #fffaeb;
  min-height: 100%;
  position: relative;
}

p {
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: normal;
  color: #006633;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: normal;
  color: #724312;
}

h4 {
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

h5 {
  font-family: Arial, Geneva, Helvetica, sans-serif;
  font-size: 24px;
}

.bigger {
  font-size: 1.33em;
}

.medium {
  font-size: 16px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

.normal, input {
  font-size: 14px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

.small {
  font-size: 13px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

.little {
  font-size: 12px;
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

green, .green, a {
  color: #006633;
}

brown, .brown {
  color: #724312;
}

gray, .gray, p {
  color: #6d6e6e;
}

gray_dark, .gray_dark {
  color: #666666;
}

orange, .orange {
  color: #ff6600;
}

white, .white {
  color: white;
}

black, .black {
  color: black;
}

.container {
  width: 965px;
}

:-moz-placeholder {
  color: #666666;
}

::-webkit-input-placeholder {
  color: #666666;
}

input, .input, .select_wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #666666;
  -webkit-box-shadow: #eacc9c -1px 2px 7px;
  -moz-box-shadow: #eacc9c -1px 2px 7px;
  box-shadow: #eacc9c -1px 2px 7px;
  padding: 5px 5px 5px 15px;
}

.select_wrapper {
  padding: 0;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  width: 215px;
  margin-left: -3px;
  margin-right: -3px;
  position: relative;
}
.select_wrapper:before {
  display: block;
  content: "";
  position: absolute;
  right: 10px;
  top: 2px;
  height: 17px;
  width: 17px;
}

select {
  background: url("../img/section.png") no-repeat 193px 0px;
  vertical-align: top;
  margin: 0;
  border: 0 transparent solid !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  width: 238px !important;
  display: inline-block;
}

.white_arrow {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #99cc33 url("../img/white_arrow.png") no-repeat center;
  height: 36px;
  width: 36px;
  border: none;
}
.white_arrow:hover {
  background: #ff6600 url("../img/white_arrow.png") no-repeat center;
}

.dots {
  display: block;
  background: #fffaeb;
  z-index: 1000;
  position: relative;
  overflow: hidden;
}
.dots:after {
  content: "";
  background: url("../img/double_dott.png") repeat-x;
  bottom: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  display: inline-block;
  z-index: 999;
  margin-left: 15px;
}

.black_arrow {
  margin-left: 22px;
}
.black_arrow:before {
  background: url("../img/black_arrow.png") no-repeat;
  content: "";
  position: relative;
  top: 0px;
  left: -7px;
  height: 10px;
  width: 7px;
  display: inline-block;
}

.site_tree {
  border-bottom: 1px dotted #724312;
  padding-bottom: 10px;
  margin-bottom: 19px;
  margin-top: 25px;
}
.site_tree a {
  display: inline-block;
  color: #535454;
}
.site_tree a:hover {
  color: #ff7212;
}

.hide {
  display: none;
}

header .logo {
  display: block;
  height: 235px;
  width: 235px;
  border: 0 solid transparent;
  margin-top: 19px;
  margin-left: -10px;
  float: left;
}
header h1 {
  display: inline-block;
  float: left;
  line-height: 28px;
  margin-left: 20px;
  margin-top: 37px;
}
header h1 span {
  letter-spacing: -1px;
  margin-left: 37px;
  margin-top: 39px;
  display: block;
}
header h1 span sup {
  top: -0.05em;
  font-size: 98%;
}
header basket {
  display: inline-block;
  margin-left: 139px;
  margin-top: 85px;
}
header basket h3 {
  margin-bottom: 9px;
}
header basket a {
  margin-top: 37px;
  display: block;
  float: left;
}
header basket button {
  background: white url("../img/button_rarrow.png") no-repeat center;
  height: 36px;
  width: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 20px;
}
header nav {
  margin-top: 200px;
  padding: 5px;
  border-radius: 2px;
  z-index: 999;
  display: inline-table;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
header nav ul {
  background: url("../img/bg_footer.jpg");
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
}
header nav ul li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  display: table-cell;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 19px;
  padding-top: 19px;
}
header nav ul li:nth-child(1) a {
  width: 139px;
}
header nav ul li:nth-child(2) a {
  width: 235px;
}
header nav ul li:nth-child(3) a {
  width: 158px;
}
header nav ul li:nth-child(4) a {
  width: 153px;
}
header nav ul li:nth-child(5) a {
  width: 135px;
}
header nav ul li:nth-child(6) a {
  width: 124px;
}
header nav ul li:hover {
  background: #99cc33;
}
header nav ul li:hover a {
  color: white;
  font-weight: bold;
}
header nav ul li:hover a .nav_img:before {
  background: url("../img/img_nav_hover.png") no-repeat;
}
header nav ul li a {
  color: #724312;
  display: table-cell;
  text-decoration: none;
}
header nav ul li a .nav_img:before {
  content: "";
  display: inline-block;
  position: relative;
  background: url("../img/img_nav.png") no-repeat;
  height: 10px;
  width: 10px;
  top: 0px;
  left: -3px;
}

hello {
  padding-bottom: 20px;
  display: block;
}
hello h5 {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}
hello a {
  margin-left: 15px;
}
hello #user_name {
  font-weight: bold;
}
hello .red_box {
  color: white;
  background: red;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}
hello #exit {
  border-top: 1px dotted #724312;
  border-bottom: 1px dotted #724312;
  vertical-align: middle;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-top: 10px;
}
hello #exit a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 123px;
}
hello #exit a:hover {
  color: #ff6600;
}
hello #exit button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

login {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}
login h3 {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 13px;
}
login input {
  margin-bottom: 6px;
  margin-left: 22px;
  width: 187px;
}
login #remind {
  margin-left: 36px;
  margin-top: 13px;
  display: inline-table;
}
login #registration {
  margin-left: 36px;
}
login #enter {
  margin-left: 14px;
  margin-top: 16px;
}
login button {
  position: absolute;
  margin-left: 5px;
}

search {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: none;
  background: #99cc33;
  background-position: 178px 6px;
  height: 59px;
  width: 238px;
  display: table-cell;
}
search input {
  width: 147px;
  margin-top: 12px;
  margin-left: 10px;
  float: left;
}
search a {
  display: block;
  margin-top: 10px;
  margin-left: 184px;
}
search .white_arrow {
  height: 39px;
  width: 39px;
}
search .white_arrow:before {
  display: block;
  content: "";
  position: relative;
  top: -4px;
  left: -4px;
  background: url("../img/search_img.png") no-repeat;
  height: 53px;
  width: 57px;
}

goods {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: none;
  background: #99cc33;
  display: table;
  margin-top: 10px;
}
goods #goods {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 14px;
  background: url("../img/bg_footer.jpg");
  border: 1px solid transparent;
  margin: 6px;
}
goods #goods li {
  border-bottom: 1px dotted #724312;
  margin-top: 6px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
goods #goods .goods_menu:before {
  content: "";
  position: relative;
  height: 10px;
  width: 10px;
  left: 0px;
  top: 2px;
  background: url("../img/goods.png") no-repeat;
  display: inline-block;
}
goods #goods .goods_menu a {
  color: #724312;
}
goods #goods .goods_menu ul {
  display: none;
}
goods #goods .goods_menu ul li {
  display: none;
}
goods #goods .active:before {
  content: "";
  position: relative;
  height: 10px;
  width: 10px;
  left: 0px;
  top: 2px;
  background: url("../img/goods_active.png") no-repeat;
  display: inline-block;
}
goods #goods .active a {
  color: #006633;
}
goods #goods .active ul {
  display: block;
}
goods #goods .active ul li {
  border: none;
  margin-left: 15px;
  display: list-item;
  margin-bottom: 0;
  line-height: 0.79em;
}
goods #goods .active ul li:before {
  content: "-";
  color: #696969;
}
goods #goods .active ul li:before:hover {
  color: #006633;
}
goods #goods .active ul li a {
  color: #696969;
}
goods #goods .active ul li a:hover {
  color: #006633;
}

subscribe {
  position: relative;
  display: block;
  margin-top: 30px;
}
subscribe button {
  top: 9px;
  position: absolute;
  right: 9px;
}
subscribe #subscribe_img {
  background: url("../img/subscribe_img.png") no-repeat;
  height: 28px;
}
subscribe #subscribe_img_bottom {
  background: url("../img/subscribe_img_bottom.jpg") no-repeat;
  height: 234px;
  margin-top: 10px;
}

body {
  padding-bottom: 300px;
  display: static !important;
}

footer {
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  width: 965px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -482px;
}
footer p {
  margin-top: 24px;
}
footer span {
  display: block;
  margin-top: 15px;
}
footer div {
  position: absolute;
  right: 0;
  top: 22px;
  line-height: 18px;
}
footer ul {
  float: left;
  list-style: none;
  margin-left: 24px;
}

.box_white {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: white;
  width: auto;
  display: block;
  position: relative;
}

#page_home h2 {
  margin-top: 48px;
  margin-bottom: 15px;
  margin-left: 24px;
}
#page_home discounts {
  display: block;
}
#page_home discounts:before {
  content: "";
  position: absolute;
  background: url("../img/discounts.png") no-repeat;
  right: 0px;
  top: -59px;
  height: 71px;
  width: 231px;
}
#page_home news {
  display: block;
  overflow: hidden;
  *zoom: 1;
}
#page_home news:before {
  content: "";
  position: absolute;
  background: url("../img/news.png") no-repeat;
  right: 0px;
  top: -49px;
  height: 76px;
  width: 230px;
}
#page_home news dl {
  display: inline-table;
  margin-left: 21px;
  margin-top: 27px;
}
#page_home news dl dt {
  background: #fae7c8;
  width: 81px;
  height: 81px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
#page_home news dl dt h3 {
  margin-top: 15px;
  margin-left: 10px;
}
#page_home news dl dd {
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
  max-width: 570px;
}
#page_home news #other_news {
  float: right;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right: 34px;
}
#page_home news #other_news a {
  display: inline-block;
  vertical-align: middle;
}
#page_home news #other_news button {
  display: inline-block;
  vertical-align: middle;
}

text {
  display: block;
  width: auto;
}
text .left {
  width: 340px;
  float: left;
}
text .right {
  width: 340px;
  float: right;
}

.product_card {
  display: inline-table;
  width: 199px;
  background: #fae7c8;
  margin: 15px 0px 15px 26px;
  height: 313px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.product_card purchase input {
  width: 30px;
}
.product_card .product_img {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: white;
  border: none;
  margin: 10px;
  height: 139px;
}
.product_card .product_img img {
  margin: 20px 0px 0px 25px;
}
.product_card .discount_ticket {
  background: url("../img/ticket.png") no-repeat;
  height: 48px;
  margin-top: 7px;
  margin-left: 23px;
  padding-left: 45px;
  padding-top: 4px;
}
.product_card .discount_ticket h3 {
  width: 102px;
}
.product_card purchase {
  display: block;
}
.product_card purchase input {
  margin-left: 23px;
  padding: 1px 1px;
  width: 58px;
  text-align: right;
  vertical-align: middle;
}
.product_card purchase .plus, .product_card purchase .minus {
  width: 20px;
  height: 17px;
  padding: 0;
  background: #fffaeb;
  color: #724312;
  vertical-align: middle;
}
.product_card purchase .to_basket {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid white;
  background: #99cc33 url("../img/to_basket.png") no-repeat 50% 60%;
  vertical-align: middle;
  height: 43px;
  width: 43px;
}
.product_card purchase .to_basket:hover {
  background: #ff6600 url("../img/to_basket.png") no-repeat 50% 60%;
}
.product_card a {
  text-align: center;
  display: table;
}

.border {
  background: #fae7c8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: table;
  padding: 8px;
  float: left;
}

.img_box {
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: table;
  padding: 19px;
}

#item_card .return_to_list {
  margin-top: 10px;
  margin-left: 19px;
}
#item_card .return_to_list:before {
  background: url("../img/green_left.png") no-repeat;
  content: "";
  position: relative;
  top: 6px;
  left: -7px;
  height: 18px;
  width: 18px;
  display: inline-block;
}
#item_card .box_white {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin-top: 14px;
  overflow: hidden;
  *zoom: 1;
}
#item_card .box_white description {
  float: right;
  margin-right: 42px;
  width: 367px;
}
#item_card .box_white description .ticket {
  background: url("../img/ticket.png") no-repeat;
  height: 48px;
  margin-left: 47px;
  padding-left: 45px;
  padding-top: 4px;
}
#item_card .box_white description .ticket h3 {
  width: 102px;
}
#item_card .box_white description p {
  float: left;
  padding-top: 13px;
}
#item_card .box_white description h2 {
  margin-bottom: 20px;
}
#item_card .box_white description purchase {
  display: block;
}
#item_card .box_white description purchase input {
  margin-left: 23px;
  padding: 1px 1px;
  width: 58px;
  text-align: right;
  vertical-align: middle;
  border: 1px solid #ffe5c8;
}
#item_card .box_white description purchase .plus, #item_card .box_white description purchase .minus {
  width: 20px;
  height: 17px;
  padding: 0;
  background: #fffaeb;
  color: #724312;
  vertical-align: middle;
  border: 1px solid #ffe5c8;
}
#item_card .box_white description purchase .to_basket {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid white;
  background: #99cc33 url("../img/to_basket.png") no-repeat 50% 60%;
  vertical-align: middle;
  height: 43px;
  width: 43px;
  margin-left: 5px;
}
#item_card .box_white description purchase .to_basket:hover {
  background: #ff6600 url("../img/to_basket.png") no-repeat 50% 60%;
}
#item_card .box_white description_text {
  float: left;
  margin-top: 25px;
}

#proposal {
  margin-top: 25px;
}
#proposal #proposal_box {
  margin-top: 15px;
}

#just_seen {
  margin-top: 10px;
}
#just_seen ul {
  list-style: none;
  margin-left: 25px;
}
#just_seen ul li {
  margin-top: 15px;
}
#just_seen ul li a:before {
  background: url("../img/green_right.png") no-repeat;
  content: "";
  position: relative;
  top: 6px;
  left: -7px;
  height: 18px;
  width: 18px;
  display: inline-block;
}
#just_seen ul li a:hover {
  color: #ff6600;
}
#just_seen ul li a:hover:before {
  background: url("../img/red_right.png") no-repeat;
  content: "";
  position: relative;
  top: 6px;
  left: -7px;
  height: 18px;
  width: 18px;
  display: inline-block;
}

#catalog h2 {
  margin-top: 20px;
}
#catalog .box_white {
  margin-top: -10px;
}
#catalog .box_white:before {
  content: "";
  position: absolute;
  background: url("../img/bubls.png") no-repeat;
  right: 0px;
  top: -42px;
  height: 55px;
  width: 173px;
}

.pagination {
  width: 350px;
  border-top: 1px dotted #724312;
  border-bottom: 1px dotted #724312;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.pagination p {
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
.pagination a {
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 19px;
  width: 19px;
  text-align: center;
}
.pagination .active a {
  background: #99cc33;
}

#categories .box_white {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin-top: 14px;
  overflow: hidden;
  *zoom: 1;
}
#categories .ticket_large:before {
  background: url("../img/ticket_large.png") no-repeat;
  content: "";
  width: 454px;
  height: 47px;
  position: relative;
  left: 0px;
  display: inline-block;
}
#categories .category_description {
  display: table;
}
#categories .category_description p {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
#categories .category_description h4 {
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 241px;
}
#categories .category_description a {
  margin-top: 15px;
  display: inline-block;
  margin-left: 25px;
}
#categories .category_description a:after {
  content: "";
  position: relative;
  background: url("../img/green_right.png") no-repeat;
  height: 16px;
  width: 16px;
  left: 5px;
  top: 3px;
  display: inline-block;
}
#categories .category_description a:hover {
  color: #ff6600;
}
#categories .category_description a:hover:after {
  content: "";
  position: relative;
  background: url("../img/red_right.png") no-repeat;
  height: 16px;
  width: 16px;
  left: 5px;
  top: 3px;
  display: inline-block;
}
#categories .dots {
  margin-top: 25px;
}
#categories text h4 {
  margin-top: 25px;
}
#categories text .text_img {
  float: right;
}

.table a:hover {
  color: #ff6600;
}

#basket #show_basket {
  width: 100%;
  margin-top: 25px;
}
#basket #show_basket th {
  background: #f5dcb3;
  color: #724312;
  padding: 11px 0px;
  text-align: center;
}
#basket #show_basket td, #basket #show_basket tr {
  border: 1px solid #f5dcb3;
  text-align: center;
  padding: 11px 0px;
}
#basket #show_basket tr:first-child {
  border: none !important;
  border-top: 1px solid transparent !important;
}
#basket #show_basket th:first-child {
  -webkit-border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -ms-border-radius: 10px 0 0 0;
  -o-border-radius: 10px 0 0 0;
  border-radius: 10px 0 0 0;
}
#basket #show_basket th:last-child {
  -webkit-border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -ms-border-radius: 0 10px 0 0;
  -o-border-radius: 0 10px 0 0;
  border-radius: 0 10px 0 0;
}
#basket #result {
  position: relative;
  display: block;
  height: 180px;
}
#basket #result .table {
  position: absolute;
  right: -1px;
}
#basket #result .table #summ {
  background: #f5dcb3;
  color: #724312;
}
#basket #result .table #summ_disc {
  background: #f5dcb3;
  color: #724312;
}
#basket #result .table #in_total {
  background: #99cc33;
  color: white;
}
#basket #result .table #in_total td {
  font-weight: bold;
}
#basket #result .table td, #basket #result .table tr {
  text-align: center;
  padding: 10px 14px;
}
#basket #result .table tr:first-child,
#basket #result .table tr:second-child {
  background: #f5dcb3;
}
#basket #result .table tr:third-child {
  background: #99cc33;
}
#basket #result #clear {
  position: absolute;
  right: 194px;
  top: 150px;
  color: #724312;
}
#basket #result #clear:before {
  position: absolute;
  content: "";
  left: -43px;
  top: -9px;
  height: 38px;
  width: 38px;
  background: url("../img/clear.png");
}
#basket #result #submit {
  position: absolute;
  right: 41px;
  top: 150px;
  color: #724312;
}
#basket #result #submit:after {
  position: absolute;
  content: "";
  right: -43px;
  top: -9px;
  height: 38px;
  width: 38px;
  background: url("../img/submit.png");
}

.important {
  position: relative;
}
.important:after {
  content: "";
  position: absolute;
  right: -13px;
  top: 0px;
  background: url("../img/important.png");
  height: 10px;
  width: 10px;
  display: inline-block;
}

#registration h2 {
  margin-top: 40px;
}
#registration .box_white {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 25px;
}
#registration .box_white:before {
  content: "";
  position: absolute;
  background: url("../img/registration.png") no-repeat;
  right: 0px;
  top: -65px;
  height: 76px;
  width: 226px;
}
#registration .box_white h2 {
  margin-bottom: 20px;
  margin-top: 25px;
}
#registration .box_white label {
  margin-bottom: -8px;
  margin-right: 25px;
  height: 45px;
  display: inline-block;
  position: relative;
}
#registration .box_white label .min {
  width: 49px;
}
#registration .box_white label .s_big {
  width: 165px;
}
#registration .box_white label .other {
  width: 123px;
}
#registration .box_white label input, #registration .box_white label select {
  width: 195px;
  padding: 1px 5px 1px 15px;
}
#registration .box_white label span {
  width: 93px;
  display: inline-block;
  color: #646464;
  line-height: 1em;
  vertical-align: middle;
}
#registration .box_white .gross {
  line-height: 36px;
}
#registration #continue {
  display: inline-block;
  position: relative;
  margin-left: 75px;
  vertical-align: middle;
}
#registration #continue:hover {
  color: #ff6600;
}
#registration #continue button {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: none;
  background: #99cc33 url("../img/continue_arr.png") no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
#registration #continue button:hover {
  background: #ff6600 url("../img/continue_arr.png") no-repeat 50% 50%;
}
#registration p {
  margin-left: 25px;
  margin-top: 25px;
}

.bottom_dots {
  border-bottom: 1px dotted #724312;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#info_confirm {
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 33px;
}

.active:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../img/agree.png") no-repeat;
  height: 33px;
  width: 33px;
  display: inline-block;
}

.agree {
  background: url("../img/not_agree.png") no-repeat;
  height: 33px;
  width: 500px;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}
